* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

p {
    color: #707070;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Poppins", sans-serif;
}
.login-form {
    border-radius: 50px;
    padding: 50px;
    border-radius: 7px;
    background: linear-gradient(45deg, #d8d8d8, #f0f0f0);
    box-shadow: 28px -28px 72px #d8d8d8, -28px 28px 72px #ededed;
}
.login-form:hover {
    border-radius: 7px;
    background: linear-gradient(225deg, #d8d8d8, #f0f0f0);
    box-shadow: -28px 28px 72px #d8d8d8, 28px -28px 72px #ededed;
}
a {
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}
a:hover {
    text-decoration: none !important;
}

.logo-img img {
    width: 30%;
    max-width: 240px;
    position: relative;
}
h2 {
    font-size: 20px;
}

.half,
.half .container > .row {
    height: 100vh;
    min-height: 700px;
}
.half-container {
    width: 100%;
}

@media (max-width: 1200px) {
    .bg {
        height: 100%;
        position: absolute;
    }
    .login-form {
        border-radius: 50px;
        padding: 50px;
        border-radius: 7px;
        background: linear-gradient(45deg, #cacaca, #f0f0f0);
        opacity: 0.95;
        box-shadow: none;
        margin: 15px;
    }
    .login-form:hover {
        border-radius: 7px;
        background: linear-gradient(45deg, #cacaca, #f0f0f0);
        box-shadow: none;
    }
}

.half .contents {
    background: #f6f7fc;
}

.half .contents,
.half .bg,
.half-container {
    width: 50%;
}
@media (max-width: 1199.98px) {
    .half .contents,
    .half .bg,
    .half-container {
        width: 100%;
    }
}
.half .contents .form-control,
.half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #f0f0f0;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.half .bg {
    background-size: cover;
    background-position: center;
}

.half a {
    color: #888;
    text-decoration: underline;
}

.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}
.control .caption {
    position: relative;
    top: 0.2rem;
    color: #888;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #5f9efd;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #5f9efd;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    font-family: "icomoon";
    content: "\2713";
    position: absolute;
    display: none;
    font-size: 16px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #7e0cf5;
    opacity: 0.2;
}

/* MODAL  */

/* MODAL CSS  */
#myModal {
    border-radius: 20px;
}
.modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.popup {
    margin: 0;
    padding: 0;
}
.popup h6 {
    font-size: 1.05rem;
    font-weight: 600;
    text-transform: uppercase;
    /* background: -webkit-linear-gradient(#0e71fcd3, #da57f5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.register-left,
.register-right {
    width: 50%;
    padding: 30px;
}

.register-right {
    background-color: #506bc2;
    color: #eee;
}
.register-left {
    background-color: #f0f0f0;
}
.popup label {
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 500;
}
.popup button:hover {
    color: #191a20;
    background-color: #eee;
    border: none;
}
.school-info {
    height: 20vh;
}
.modal-head {
    text-align: center;
    display: flex;
    justify-content: center;
}
.modal-head h4 {
    color: #000 !important;
    text-align: center !important;
    font-weight: 700 !important;
}
@media (max-width: 1200px) {
    .register-left,
    .register-right {
        width: 100%;
        padding: 30px;
    }
    .school-info {
        height: 20vh;
    }
}